/* ============================= */
/* ============================= */
/* ========== GENERAL ========== */
/* ============================= */
/* ============================= */
body{
	background-color: black;
}
ul{
	padding-left: 0;
}
ul li{
	list-style-type: none;
}

/* ============================= */
/* ============================= */
/* ========= NAVIGATION ======== */
/* ============================= */
/* ============================= */
.navbar{
	padding: .0rem 1rem ;
}
.dropdown-menu{
	width: 250px;
	background-color: gray;
}
.dropdown-menu a{
	width: 100%;
	align-content: flex-start;
}
.menu2 ul{
	width: 250px;
	margin-left: 250px;
	background-color: gray;
	display: none;
	position: absolute;
}
.menu2:hover ul{
	display: block;
	align-content: flex-start;
}
