/* ============================= */
/* ============================= */
/* ========== GENERAL ========== */
/* ============================= */
/* ============================= */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}
ul{
	padding-left: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
/* ============================= */
/* ============================= */
/* ========= NAVIGATION ======== */
/* ============================= */
/* ============================= */

/* menu demarrer */
.fixed-bottom{
	background-color: darkslategray;
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: space-between;
}
.fixed-bottom, .enteteMenu {
	height: 40px;
}
.enteteMenu{
	display: flex;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	border-right: 2px solid white;
}
.enteteMenu:hover .container-menu{
	display: block;
}
.container-menu{
	position: absolute;
	bottom: 40px;
	left: 30px;
	display: none;
	padding-bottom: 10px;
}
.menu1{
	position: relative;
	width: 250px;
	height: 300px;
	background-color: rgba(167,136,129,1);
	border:5px solid silver;
	border-radius: 10px;
}
.container-menu::after{
	content:"";
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top: 10px solid silver;
	position: absolute;
	margin-left: 20px
}
.liste1{
	display: flex;
	padding-left: 20px;
	height: 30px;
	font: 16px;
	align-items: center;
}
.liste1:hover{
	background-color: white;
	color: black;
	font-weight: bold;
}
.liste1:hover .menu2{
	display: block;
}
.menu2{
	position: absolute;
	display: none;
	width: 250px;
	right: -200px;
	top:0;
	background-color: rgba(255,255,255,0.8);
	align-items: flex-end;
	border: 2px solid silver;
	border-radius: 10px;
}
.liste2{
	display: flex;
	padding-left: 20px;
	height: 30px;
	font: 16px;
	align-items: center;
}

/* Horloge */
#clock{
	display: flex;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	border-left: 2px solid white;
}


